.demo-container {
    margin: 50px 50px;
    width: 90vh;
}
body {
    margin: 8px;
}
.tab-item-content {
    margin: auto;
}

.demo-header {
    display: flex;
    justify-content: space-between;
}

#toggle-container {
    padding-top: 20px;
}

#clearAfterDropSwitch {
    vertical-align: text-bottom;
}

#toggle-container span {
    padding-right: 10px;
}

.dragged-item {
    padding: 10px;
}