.main {
  margin: 50px;
  width: 90vw;
}

.demo-header {
  display: flex;
  justify-content: space-between;
}

#toggle-container {
  padding-top: 20px;
}

#clear-after-drop-switch {
  vertical-align: text-bottom;
}

#toggle-container span {
  padding-right: 10px;
}